<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.description }}</h4>
  <p>Implemented?: {{ product.implemented }}</p>
  <p *ngIf="product.gender">
    Gender: {{ product.gender }}
  </p>
  <p *ngIf="product.low_age">
    Minimum Age: {{ product.low_age }}
  </p>
  <p *ngIf="product.high_age">
    Maximum Age: {{ product.high_age }}
  </p>
  <p *ngIf="product.interval">
    Interval (months): {{ product.interval }}
  </p>
  <p>Category: {{ product.category }}</p>
  <p *ngIf="product.tobacco_status">
    Tobacco Status: {{ product.tobacco_status }}
  </p>
  <p *ngIf="product.pack_years">
    Pack-Years: {{ product.pack_years }}
  </p>
  <p *ngIf="product.years_since_quit_smoking">
    Years Since Quit Smoking: {{ product.years_since_quit_smoking }}
  </p>
  <p *ngIf="product.low_dob">
    Minimum Date of Birth: {{ product.low_dob }}
  </p>
  <p *ngIf="product.high_dob">
    Maximum Date of Birth: {{ product.high_dob }}
  </p>
  <button (click)="addToCart(product)">Buy</button>
</div>