<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.description }}</h4>
  <p>{{ product.implemented }}</p>
  <p>{{ product.gender }}</p>
  <p>{{ product.low_age }}</p>
  <p>{{ product.high_age }}</p>
  <p>{{ product.interval }}</p>
  <p>{{ product.category }}</p>
  <p>{{ product.tobacco_status }}</p>
  <p>{{ product.pack_years }}</p>
  <p>{{ product.years_since_quit_smoking }}</p>
  <p>{{ product.low_dob }}</p>
  <p>{{ product.high_dob }}</p>

  <button (click)="addToCart(product)">Buy</button>
</div>